.row-title, .odd_line, .even_line {
    font-size: 2vw;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(186, 188, 190);
    color: rgb(0, 0, 0);
    line-height: 200%;
    -moz-box-shadow: 5px 5px 10px #000000;
    -webkit-box-shadow: 5px 5px 10px #000000;
    box-shadow: 5px 5px 10px #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow: inset 2px 1px 2px 2px rgba(255,255,255,0.8); */

}
.row-title {
    margin-bottom: 50px;
}

.odd_line {
    background-color: white;
}

.even_line {
    background-color: gray;
}

/* .one_color_class { 
    background-color: rgb(66, 133, 244);
}
.two_color_class {
    background-color: rgb(234, 67, 53);
}
.three_color_class {
    background-color: rgb(251, 188, 5);
}
.four_color_class {
    background-color: rgb(52, 168, 83);
} */

#snackbar {
    visibility: hidden;
    min-width: 80%;
    margin-left: -40%;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 1s 4s;
    animation: fadein 0.5s, fadeout 1s 4s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  .progress {
    width: 100%;
    background: #d3d3d3;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  
  percentLap {
    width: 0%;
    height: 24px;
    background: red;
    color: lightblue;
    /* animation-name: finishline; */
    animation: progress 5s normal forwards infinite;
  }

  percentLap::-moz-progress-value {
    background: lightblue;
  }
  
  percentLap::-moz-progress-bar {
    background: lightblue;
  }
  
  percentLap::-webkit-progress-value {
    background: red;
  }
  
  percentLap::-webkit-progress-bar {
    background: blue;
  }


  @keyframes progress{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
  }

  @keyframes finishline {
    from {background-color: blue;}
    to {background-color: red;}
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    /* margin-left: -5px !important; */
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
